{% extends "MYMoneyBundle:Admin:layout.html.twig" %}

{% block title_admin %}
	<a href="#">Banques</a>
{% endblock %}

{% block body_admin %}
	<div class="row">
		<div class="[ col-xs-12 ]">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="fa fa-list"></span> Liste des banques
                    <div class="pull-right action-buttons">
                    	<a href="{{ path('my_money_admin_bank_add') }}" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Nouvelle banque</a>
                    </div>
                </div>
                <ul class="list-group">
            	{% for bank in banks %}
                    <li class="list-group-item">
                        <div>
                        	<a href="{{ path('my_money_admin_bank_edit', {'id': bank.id }) }}">{{ bank.name }}</a>
                            <div class="pull-right action-buttons">
                                <a href="{{ path('my_money_admin_bank_edit', {'id': bank.id }) }}"><span class="fa fa-pencil"></span></a>
                                <a href="{{ path('my_money_admin_bank_delete', {'id': bank.id }) }}" class="trash"><span class="fa fa-trash"></span></a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
		</div>
	</div>
{% endblock %}